.sprotty-node {
    fill: rgb(136, 136, 255);
    stroke-width: 1;
    stroke: rgb(15, 0, 100);
}

.sprotty-node.selected {
    stroke-width: 2;
    stroke: var(--vscode-button-secondaryForeground);
}

.sprotty-label {
    fill: darkslategrey;
    stroke-width: 0;
}

.sprotty-button {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge .sprotty-label {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge {
    fill:none;
    stroke: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 2px;
}

.sprotty-edge-arrow {
    fill:var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge > .sprotty-routing-handle {
    fill: var(--vscode-editor-selectionBackground);
    stroke: none;
    z-index: 1000;
}

.sprotty-edge > .sprotty-routing-handle[data-kind='line'] {
    opacity: 0.35;
}

.sprotty-edge > .sprotty-routing-handle.selected {
    fill: var(--vscode-editor-selectionHighlightBackground);
}

.sprotty-edge > .sprotty-routing-handle.mouseover {
    stroke: var(--vscode-editor-symbolHighlightBackground);
    stroke-width: 1;
}

.sprotty-edge.mouseover:not(.selected) {
    stroke-width: 3px;
}

.sprotty-hidden {
    width: 0px;
    height: 0px;
}

.vss-node{
    fill: rgb(255, 231, 98);
    stroke-width: 1;
    stroke: coral;
}

/* .vss-node .sprotty-label{
    fill:darkslategrey
} */

.sprotty-port{
    fill:rgb(15, 0, 100)
}

.vss-node .sprotty-port{
    fill:rgb(100, 0, 0)
}

.vss-container{
    fill: rgb(255, 255, 255);
    stroke-width: 1;
    stroke: rgb(218, 218, 218);
}