

.sensorsignalnode>.sprotty-node {
    fill: #84a1bd;
    stroke-width: 1px;
    stroke: var(--theia-foreground);
}

.actuatorsignalnode>.sprotty-node {
    fill: #a984bd;
    stroke-width: 1px;
    stroke: var(--theia-foreground);
}

/* .componentnode {
  width: 150px;
  height: 50px;
}

.componentnode > .sprotty-node {
  width: 150px;
  height: 50px;
}

.componentnode > .label {
  width: 150px;
  height: 50px;
} */
.componentnode>.sprotty-node {
    fill: #bbbd84;
    stroke-width: 1px;
    stroke: var(--theia-foreground);
    position: relative;
}

.vssnode>.sprotty-node {
    fill: azure;
    stroke-width: 1px;
    stroke: var(--theia-foreground);
}

.inport>.sprotty-node {
  fill: rgb(180, 6, 6);
  font-size: 300%;
  direction: rtl;
}

.outport>.sprotty-node {
  fill: rgb(20, 6, 180);
  font-size: 300%;
  position: absolute;
  right: 20px;
}


.componentnode > .label {
    fill: rgb(5, 3, 6);
    text-align: center;
}

